@media (max-width: 767px) {
    #mainContainer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        position: relative;
    }
    #a {
        width: 100%;
        /* border: 3px solid black; */
        height: 7%;
        text-align: center;
        line-height: 40px;
        background-color: darkblue;
        color: white;
    }
    #DivWithA {
        height: 85%;
    }
    #efgh {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* border: yellow solid 3px; */
        /* height: 70%; */
        flex: 1;
    }
    #b {
        width: 100%;
        background-color: rgb(218, 0, 0);
        height: 30%;
        text-align: center;
        line-height: 200px;
    }
    #c {
        width: 100%;
        background-color: rgba(129, 144, 211, 0.603);
        height: 60%;
        text-align: center;
        line-height: 80px;
    }
    #d {
        width: 100%;
        background-color: rgba(4, 11, 46, 0.603);
        height: 20%;
        color: white;
        text-align: center;
        line-height: 80px;
    }
    #i {
        width: 100%;
        background-color: red;
        height: 10%;
        color: white;
        text-align: center;
        line-height: 80px;
    }
    #DivWithB {
        /* border: yellow solid 3px; */
        height: 60%;
        /* flex: 100; */
    }
    .e {
        height: 125px;
        border: black solid 3px;
        width: 50%;
        text-align: center;
        line-height: 80px;
    }
    #i {
        flex: 1;
        text-align: center;
        line-height: 40px;
        height: 77px;
    }
}


/* flex file*/

@media (min-width: 768px) and (max-width: 2000px) {
    #mainContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        /* border: steelblue solid 3px; */
    }
    #a {
        width: 100%;
        height: 15%;
        /* border: steelblue solid 3px; */
        background-color: rgb(148, 175, 88);
        text-align: center;
        line-height: 100px;
    }
    #DivWithA {
        /* border: black solid 3px; */
        width: 100%;
        height: 85%;
        display: flex;
        flex-direction: row;
    }
    #b {
        background-color: rgb(174, 255, 0);
        text-align: center;
        line-height: 500px;
        height: 100%;
        /* border: black solid 3px; */
        width: 21%;
        text-align: center;
    }
    #DivWithB {
        width: 100%;
        display: flex;
        /* border: black solid 3px; */
        flex-direction: column;
        flex-wrap: wrap;
    }
    #c-b {
        width: 100%;
        /* border: black solid 3px; */
        height: 29%;
        display: flex;
        flex-direction: row;
    }
    #efgh {
        width: 100%;
        /* border: black solid 3px; */
        height: 35%;
        display: flex;
        flex-direction: row;
    }
    #i {
        width: 100%;
        /* border: black solid 3px; */
        height: 29%;
        flex: 1;
        background-color: rgba(30, 28, 196, 0.698);
        text-align: center;
        line-height: 200px;
    }
}