    @media (max-width: 767px) {}
    
    @media (min-width: 768px) and (max-width: 2000px) {
        #c {
            width: 50%;
            /* border: blue solid 3px; */
            text-align: center;
            background-color: black;
            color: white;
            line-height: 200px;
            text-align: center;
        }
        #d {
            width: 50%;
            /* border: blue solid 3px; */
            flex: 1;
            text-align: center;
            background-color: yellow;
            line-height: 200px;
            text-align: center;
        }
        .e {
            /* border: blue solid 3px; */
            text-align: center;
            width: 25%;
        }
        #e {
            background-color: teal;
            line-height: 200px;
            text-align: center;
        }
        #f {
            background-color: rgb(233, 12, 233);
            line-height: 200px;
            text-align: center;
        }
        #g {
            background-color: rgb(75, 199, 26);
            line-height: 200px;
            text-align: center;
        }
        #h {
            background-color: rgb(36, 16, 92);
            line-height: 200px;
            text-align: center;
        }
    }
    /* layout*/